/*properties of the page itself*/
html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/*calculator HTML*/
.calculator-div{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: blue ;
    outline: solid;
}
/*Top calculator HTML*/

.top-calculator-div{
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: white;
    outline: solid;
    align-items: center;
    justify-content: flex-end;

}

.result-html{
padding: 10px;
}
/*Bottom calculator HTML*/

.bottom-calculator-div{
    height: 80%;
    display: flex;
    flex-direction: column;
}

.first-row-buttons, .second-row-buttons, .thrid-row-buttons,.fourth-row-buttons, .fifth-row-buttons{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.calc-button{
    flex: 1;
}



